<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Chunky Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="CHUNKY_CHUNK_DISK" value="local"/>
    <env name="CHUNKY_MERGE_DISK" value="local"/>
    <env name="CHUNKY_AUTO_MERGE" value="true"/>
    <env name="CHUNKY_MERGE_CONNECTION" value="default"/>
    <env name="CHUNKY_MERGE_QUEUE" value="null"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
