<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Chunky Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="CHUNKY_CHUNK_DISK" value="local"/>
        <env name="CHUNKY_MERGE_DISK" value="local"/>
        <env name="CHUNKY_AUTO_MERGE" value="true"/>
        <env name="CHUNKY_MERGE_CONNECTION" value="default"/>
        <env name="CHUNKY_MERGE_QUEUE" value="null"/>
    </php>
</phpunit>